.auth-box {
    width: 40em;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.auth-box form {
    margin: 0 auto;
    margin-bottom: 0.2em;
    width: 60%;
}
.auth-box ul {
    padding-left: 0;
    margin-bottom: 0.2em;
    list-style: none;
}
.auth-box li {
    padding-left: 0;
    margin: 13px;
}
.auth-box p {
    margin-bottom: 0.1em;
}
.auth-box input[type="submit"] {
    width: 40%;
    margin: 0 30% 0 30%;
}
.auth-box #auth-fp {
    text-align: center;
    color: gray;
    text-decoration: none;
    margin-top: 8px;
}
#captcha {
    margin: 0 auto;
    width: 304px;
    margin-bottom: 5px;
}

.error-badge {
    width: 100%;
    height: 45px;
    background-color: rgba(235, 195, 195, 0.7);
    padding: 3px;
}