html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#header {}
ul.navbar {
    overflow:   hidden;
    list-style: none;
}
ul.navbar li {
    float:          left;
    padding:        0 10px;
    vertical-align: middle;
    text-align:     center;
    display:        inline-block;
    line-height:    normal;
}
.tm {
    font-weight: 900;
    font-size:   20px;
}
ul.navbar li.tm {
    padding-right: 50px;
}
.navbutton {
    font-size:       18px;
    cursor:          hand;
    text-decoration: underline;
}
a.navlink {
    color:           inherit;
    text-decoration: inherit;
    border-bottom:   inherit;
}
#body {
    padding:  25px 10%;
}
hr {
    border: 1px ridge #D8D8D8;
}
.verbose {
    color: #808080;
}
.code {
    font-family:      monospace;
    background-color: #D8D8D8;
    color:            #333333;
}
pre.code {
    padding:  10px;
    overflow: auto;
}
.code .highlighted {
    color: #F05033;
}
a {
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
.motto {
    font-family: Calibri, sans-serif;
    text-align:  center;
    padding:     20px 50px;
}
.submotto {
    text-align: center;
    color:      #606060;
}
.wrapper-header {
    cursor:       hand;
    padding-left: 5px;
}
.wrapper {
    padding-left: 5px;
}
.action {
    cursor:           hand;
    border:           2px groove #FFFFFF;
    color:            #FFFFFF;
    border-radius:    10px;
    padding:          2px 5px;
    font-family:      'Trebuchet MS', Helvetica, Arial, sans-serif;
    background-color: #000000;
    text-align:       center;
}
.action.disabled {
    text-decoration: line-through;
    color:           #D0D0D0;
}
table.info-table {
    width: 100%;
}
table.info-table tr td, table.info-table tr th {
    margin:         0;
    border:         groove;
    padding:        5px;
    vertical-align: middle;
}
.thumbnail {
    border-bottom: 1px ridge;
}
.lint-section {
    border-bottom: 1px ridge;
}
.remark {
    font-family:  "Times New Roman", serif;
    font-size:    smaller;
    color:        #808080;
    padding-left: 5px;
}
.hover-title {
    border-bottom:  1px dotted;
    vertical-align: super;
}
#recent-builds-error {
    color:       #DD4040;
    font-weight: 600;
}
.project-const {
    border-bottom: 1px ridge;
}
img.gh-logo {
    vertical-align: text-top;
}
.dynamic-anchor{
    padding-left: 5px;
    padding-right: 5px;
    display: none;
    text-decoration: inherit;
    color: inherit;
    font-size: smaller;
}
.topic {
    padding-bottom: 5px;
    border-bottom:  1px ridge;
}
.buildVar {
    border-bottom: 1px ridge;
}
.colored-bullet::before {
    content:     '\2022';
    font-size:   24px;
    font-weight: 900;
}
.colored-bullet.green {
    color: green;
}
.colored-bullet.yellow {
    color: yellow;
}
.colored-bullet.red {
    color: red;
}
.colored-bullet.blue {
    color: cornflowerblue;
}
.colored-bullet.pink {
    color: deeppink;
}
#greeting {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 15px;
}